.container {
  width: calc(100vw - 17px);
  height: 200px;
  border: 1px solid red;
  overflow: hidden;
  display: flex;
}

.video {
  border: 1px solid green;
  min-width: 150px;
}
.video-spacer {
  border: 1px solid orange;
  min-width: 15px;
}

.selected {
  background-color: aqua;
}

div {
  cursor: ew-resize;
}
